{% load static %}
<html>
    <head>
        <title>aialytics</title>
        <!-- <img src={% static "aialytics.jpg" %} alt="aialytics"> -->
        <img src={% static "aialytics.jpg" %} alt="AIALYTICS">
        <link rel="stylesheet" href={% static "base.css" %}>
    </head>
    <body>
        <ul id='id_menu'>
            <li><a href="#home">Home</a></li>
            <li><a href="#analytics">Analytics</a></li>
            <li><a href="#ai tools">AI Tools</a></li>
            <li><a href="#decision analysis">Decision Analysis</a></li>
            <li style="float:right"><a class="active" href="#contact">Contact</a></li>
        </ul>
    </body>
</html>