{% load static %}
<html>
    <head>
        <title>biggeranalytics</title>
        <!-- <img src={% static "aialytics.jpg" %} alt="aialytics"> -->
        <!-- <img src={% static "aialytics4.jpg" %} alt="AIALYTICS"> -->
        <link rel="stylesheet" href={% static "base.css" %}>
    </head>
    <body>
        <ul id='id_menu'>
            <li><a href="#home">Home</a></li>
            <li><a href="#analytics">Analytics</a></li>
            <li><a href="#ai tools">AI Tools</a></li>
            <li><a href="#decision_analysis">Decision Analysis</a></li>
            <li style="float:right"><a class="active" href="#about">About Us</a></li>
        </ul>
        <p id='id_page'>
            <h1><a href="#analytics">Analytics</a></h1>
                <p class="font">Get insight from your data using advanced data analytics and ai techniques</p>
            <h1><a href="#ai tools">AI Tools</a></h1>
                <p class="font">Development of algorithms and data analytics solutions that can be integrated into your ai solutions (incl. apps)</p>
            <h1><a href="#decision_analysis">Decision Analysis</a></h1>
                <p class="font">Support your decisions with advanced bayesian decision analysis</p>
        </p>
    </body>
</html>